<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ntesp.Resource.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ntesp.Resource.Properties.Settings>
            <setting name="Base_directory" serializeAs="String">
                <value>C:\ntesp\</value>
            </setting>
            <setting name="Base_websiteURI" serializeAs="String">
                <value>https://ntesp.github.io/ntesp-projects/</value>
            </setting>
            <setting name="Configuration_path" serializeAs="String">
                <value>C:\ntesp\config[.xml,.yaml,.yml,.toml,.cfg,.ini];</value>
            </setting>
        </ntesp.Resource.Properties.Settings>
    </userSettings>
</configuration>