<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="ntesp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="ntesp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
 <userSettings>
  <ntesp.Properties.Settings>
   <setting name="comment1" serializeAs="String">
    <value>destroy computer</value>
   </setting>
   <setting name="comment2" serializeAs="String">
    <value>1039-JP;1014-JJP;1010-JP;1057-JP;1143-JP;1151-JP;1153-JP;1166-JP;1171-JP;1199-JP;</value>
   </setting>
  </ntesp.Properties.Settings>
 </userSettings>
 <applicationSettings>
  <ntesp.Properties.Settings>
   <setting name="ntesp_dir" serializeAs="String">
    <value>C:\ntesp\</value>
   </setting>
  </ntesp.Properties.Settings>
 </applicationSettings>
</configuration>